<div class="header">
	<table class="header_table">
		<tr>
			<td>
				<%= image_tag('logo-small.png', :alt => "Logo") %>
			</td>
			<td>
			</td>
			<td>
				<ul>
					<li><%= link_to "Sign In", new_user_session_path %></li>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>