<container id="main_page">
<table class="main">
	<tr>
		<td>
			<h1>This is the About Page</h1>
		</td>
		<td>
		</td>
		<td>
			<%= render 'shared/sidebar' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= image_tag('control_circle.png', :alt => "Control Circle") %>
		</td>
	</tr>
</table>
	
</container>