<container id="home_page">
<table class="welcome">
	<tr>
		<td>
			<h1>This is where the tour will be</h1>
		</td>
		<td>
		</td>
		<td>
			<%= render 'shared/sidebar' %>
		</td>
	</tr>
	<tr>
		<td>
			<%= image_tag('control_circle.png', :alt => "Control Circle") %>
		</td>
	</tr>
</table>
	
</container>