/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* General Styling */

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}

body {
	background-color: #F0F8FF;
	min-width: 980px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 100%;
}

.container {
	width: 800px;
	background-image: url("main_body.png");
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

/* Elements Styling */

a {
	text-decoration: underline;
	color: white;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 125%;
	padding-top: 15px;
}

/* Header Styling */

.header {
	width: 800px;
	padding-left: 25px;
	padding-top: 25px;
}

.header ul {
	float: right;
	list-style: none;
	display: inline;
	padding-right: 35px;
}

/* Welcome/Home Page Styling */

.home {
	width: 800px;
	height: 625px;
	margin-left: auto;
	margin-right: auto;
}

.home a {
	color: #F0F8FF;
}

#body {
	padding-top: 25px;
	width: 725px;
	margin-left: auto;
	margin-right: auto;
}

/* About Page Styling */

#about {
	width: 1000px;
	float: left;
	padding-left: 35px;
}

/* Tour Page Styling */

#tour {
	width: 1000px;
	float: left;
	padding-left: 35px;
}


/* Links Styling */

#links {
	padding-top: 10px;
	width: 775px;
	height: 35px;
	background-image: url('links_background.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

